
<nz-layout>
  <nz-header *ngIf="showHeader">
    <div class="d-flex justify-content-between align-items-center">
      <div class="logo">
        <img src="/assets/img/fx-footer-logo.png" style="height: 30px;">
      </div>
      <div class="announcement">
        <p style="color: #1f4080; font-weight: 700; font-size: 18px;">
   Firm Tools Announcements
        </p>
      </div>
      <div class="ml-auto p-2">




        <div class="avatar">

          <a nz-dropdown [nzDropdownMenu]="menu">   <nz-avatar nz-dropdown nzText="JD" style="color:#ffff; background-color:#1f4080;"></nz-avatar>  </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item><span nz-icon nzType="mail" nzTheme="outline"></span>&nbsp;Jhonedoe@gmail.com</li>

              <li nz-menu-item><span nz-icon nzType="logout" nzTheme="outline"></span>&nbsp;Log Out</li>

            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
    </div>
  </nz-header>


  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>
  <nz-footer  *ngIf="showFooter">Copyright © 2023 FYXO Inc. All Rights Reserved</nz-footer>
</nz-layout>
